header {
  width: 100%;
  height: 100%;
  min-height: 60px;
  margin-top: 5px;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 5%;
  position: relative;
  -webkit-animation: top-to-buttom 1s 1;
          animation: top-to-buttom 1s 1;
}

header .navbar .logomark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navbar .logomark img {
  cursor: pointer;
  width: 50px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

header .navbar .logomark span {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 0px;
  margin-left: 5%;
}

header .navbar .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

header .navbar .options a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navbar .options a button {
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}

header .navbar .options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  list-style: none;
}

header .navbar .options ul li {
  margin-right: 20px;
}

header .navbar .options ul li a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  white-space: nowrap;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
}

header .navbar .options ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #ffffff;
  -webkit-transition: width .3s;
  transition: width .3s;
}

header .navbar .options ul li:hover::after {
  width: 100%;
}

header .navbar-compact {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 6px 5%;
  position: relative;
  -webkit-animation: top-to-buttom 1s 1;
          animation: top-to-buttom 1s 1;
}

header .navbar-compact .logomark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navbar-compact .logomark img {
  cursor: pointer;
  width: 50px;
  padding: 5px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

header .navbar-compact .logomark span {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 0px;
  margin-left: 5%;
}

header .navbar-compact .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

header .navbar-compact .options span {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

header .navbar-compact .list-options {
  display: none;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0px;
  position: relative;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-animation: left-to-rigth 0.5s 1;
          animation: left-to-rigth 0.5s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header .navbar-compact .list-options ul {
  list-style: none;
}

header .navbar-compact .list-options ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navbar-compact .list-options ul li a {
  color: #ffffff;
  vertical-align: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

header .navbar-compact .list-options a {
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .navbar-compact .list-options a button {
  margin-top: 10px;
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  color: #ffffff;
  padding: 6px 10px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background-color: transparent;
}

@-webkit-keyframes left-to-rigth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes left-to-rigth {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes top-to-buttom {
  0% {
    opacity: 0;
    top: -1vw;
  }
  100% {
    opacity: 1;
    top: 0vw;
  }
}

@keyframes top-to-buttom {
  0% {
    opacity: 0;
    top: -1vw;
  }
  100% {
    opacity: 1;
    top: 0vw;
  }
}

@media (max-width: 550px) {
  header .navbar {
    display: none;
  }
  header .navbar-compact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 210px) {
  header .navbar-compact .logomark span {
    display: none;
  }
}

footer {
  width: 100%;
  margin: 40px 0;
}

footer .links {
  text-align: center;
}

footer .links ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .links ul li {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  list-style: none;
  margin: 0 1%;
}

footer .links ul li a {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 30px;
}

footer .content {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(https://media.discordapp.net/attachments/837045605292965958/844189718714777650/thumb-1920-909912.png?width=923&height=519);
  background-size: 1000px;
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  margin: 10vh auto;
  padding: 0 5%;
}

main .list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

main .list .category {
  width: 100%;
}

main .list .category details {
  margin: 10px 0;
}

main .list .category details summary {
  padding: 20px;
  border-radius: 5px;
  list-style: none;
  color: #cccccc;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

main .list .category details .commands {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

main .list .category details[open] {
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

main .list .category details[open] summary {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

main .list .category details[open] .commands {
  padding: 20px;
  -webkit-animation: listMove 0.5s forwards;
          animation: listMove 0.5s forwards;
}

main .list .category details[open] .commands .command {
  margin: 10px 0px;
  line-height: 30px;
  color: #d4d4d4;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

main .list .category details[open] .commands .command code {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #111011;
  color: #ffffff;
  padding: 5px 7px;
  border-radius: 4px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

main .list .category details[open] .commands .command code:hover {
  background-color: #c55555;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

main .list .category details[open] .commands .command:hover {
  color: #ffffff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

@-webkit-keyframes listMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes listMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
